

.Business {
    max-width: 300px;
    overflow: hidden;
    max-height: 500px;
    background-color: #FFFBF0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(55, 55, 55, 0.3);
    cursor: pointer;
    transition: 0.4s ease;
}
.Business:hover {
    transform: scale(1.05);
    transition: 0.2s;
}
.Business:active {
    transform: scale(1);
}

.Business img {
    max-width: 100%;
    height: 200px;
    width: 300px;
    object-fit: cover;
}
.Business h2 {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 0;
    margin: 0 1rem;
}

.restaurant-info {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}
.restaurant-info ul {
    list-style: none;
}
.restaurant-info li {
    font-size: 0.9rem;
    color: black;
}