* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.BusinessList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3rem;
}