

h1 {
  font-size: 2rem;
  padding-bottom: 0.2rem;
}

/* Header styling */
header {
  text-align: center;
  background-color: #FFDB58;
}

/* Search bar / banner */
.searchBanner {
  width: 100%;
  min-height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(55, 55, 55, 0.7), rgba(55, 55, 55, 0.3)), url("./assets/plate-fancy-food.jpg");
  background-size: cover;
}

.searchBanner h2 {
  font-size: 1.5rem;
  margin: 1rem;
  color: #FFFBF0;
}
.searchBanner input {
  font-size: 0.8rem;
  margin: 1rem 0.75rem;
  padding: 5px;
  min-width: 300px;
  background-color: #FFFBF0;
  border: solid thin #FFFBF0;;
  border-radius: 3px;
}


/* Restaurant display area */
.displayArea {
  max-width: 1280px;
  background-color: #FFFBF0;
  padding-top: 3rem;
  color: black;
}